# What drives the price of a car?

![](images/kurt.jpeg)

**OVERVIEW**

In this application, you will explore a dataset from kaggle. The original dataset contained information on 3 million used cars. The provided dataset contains information on 426K cars to ensure speed of processing.  Your goal is to understand what factors make a car more or less expensive.  As a result of your analysis, you should provide clear recommendations to your client -- a used car dealership -- as to what consumers value in a used car.

### CRISP-DM Framework

<center>
    <img src = images/crisp.png width = 50%/>
</center>


To frame the task, throughout our practical applications we will refer back to a standard process in industry for data projects called CRISP-DM.  This process provides a framework for working through a data problem.  Your first step in this application will be to read through a brief overview of CRISP-DM [here](https://mo-pcco.s3.us-east-1.amazonaws.com/BH-PCMLAI/module_11/readings_starter.zip).  After reading the overview, answer the questions below.

### Business Understanding

From a business perspective, we are tasked with identifying key drivers for used car prices.  In the CRISP-DM overview, we are asked to convert this business framing to a data problem definition.  Using a few sentences, reframe the task as a data task with the appropriate technical vocabulary.

The goal is to develop a predictive model to identify key factors that influence the pricing of used cars. This involves analyzing historical data on used car prices along with various attributes such as make, model, year, mileage, condition, and features. The project will follow the CRISP-DM methodology to systematically approach this task, beginning with data collection and understanding, followed by data preparation, modeling, evaluation, and deployment. The primary objective is to use regression analysis to predict car prices based on these attributes and to determine the features that has most significant influence on the car price variations and create a report. The report will help used-car dealers to fine-tune their inventory by focussing on the features that influence the car price the most.  Technically, this means find the co-efficients of different features in the linear regression model.

### Data Understanding

After considering the business understanding, we want to get familiar with our data.  Write down some steps that you would take to get to know the dataset and identify any quality issues within.  Take time to get to know the dataset and explore what information it contains and how this could be used to inform your business understanding.

#### Load and inspect the data

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In [30]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
df = pd.read_csv('data/vehicles.csv')

In [2]:
print(df.head())           # Display the first few rows
print(df.info())           # Display summary information
print(df.describe())       # Statistical summary of numerical columns
print(df.columns)

           id                  region  price  year manufacturer model  \
0  7222695916                prescott   6000   NaN          NaN   NaN
1  7218891961            fayetteville  11900   NaN          NaN   NaN
2  7221797935            florida keys  21000   NaN          NaN   NaN
3  7222270760  worcester / central MA   1500   NaN          NaN   NaN
4  7210384030              greensboro   4900   NaN          NaN   NaN

  condition cylinders fuel  odometer title_status transmission  VIN drive  \
0       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN
1       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN
2       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN
3       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN
4       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN

  size type paint_color state
0  NaN  NaN         NaN    az
1  NaN  NaN         NaN    ar
2  NaN  NaN         NaN    fl
3  NaN  NaN         NaN    ma
4  NaN  NaN         NaN    nc
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   region        426880 non-null  object
 2   price         426880 non-null  int64
 3   year          425675 non-null  float64
 4   manufacturer  409234 non-null  object
 5   model         421603 non-null  object
 6   condition     252776 non-null  object
 7   cylinders     249202 non-null  object
 8   fuel          423867 non-null  object
 9   odometer      422480 non-null  float64
 10  title_status  418638 non-null  object
 11  transmission  424324 non-null  object
 12  VIN           265838 non-null  object
 13  drive         296313 non-null  object
 14  size          120519 non-null  object
 15  type          334022 non-null  object
 16  paint_color   296677 non-null  object
 17  state         426880 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 58.6+ MB
None
                 id         price           year      odometer
count  4.268800e+05  4.268800e+05  425675.000000  4.224800e+05
mean   7.311487e+09  7.519903e+04    2011.235191  9.804333e+04
std    4.473170e+06  1.218228e+07       9.452120  2.138815e+05
min    7.207408e+09  0.000000e+00    1900.000000  0.000000e+00
25%    7.308143e+09  5.900000e+03    2008.000000  3.770400e+04
50%    7.312621e+09  1.395000e+04    2013.000000  8.554800e+04
75%    7.315254e+09  2.648575e+04    2017.000000  1.335425e+05
max    7.317101e+09  3.736929e+09    2022.000000  1.000000e+07
Index(['id', 'region', 'price', 'year', 'manufacturer', 'model', 'condition',
       'cylinders', 'fuel', 'odometer', 'title_status', 'transmission', 'VIN',
       'drive', 'size', 'type', 'paint_color', 'state'],
      dtype='object')

In [4]:
df.head(10)     
df_notnull=df.dropna() # remove the null values
df_notnull            # Display the first 10 rows

,id,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,state
126,7305672709,auburn,0,2018.0,chevrolet,express cargo van,like new,6 cylinders,gas,68472.0,clean,automatic,1GCWGAFP8J1309579,rwd,full-size,van,white,al
127,7305672266,auburn,0,2019.0,chevrolet,express cargo van,like new,6 cylinders,gas,69125.0,clean,automatic,1GCWGAFP4K1214373,rwd,full-size,van,white,al
128,7305672252,auburn,0,2018.0,chevrolet,express cargo van,like new,6 cylinders,gas,66555.0,clean,automatic,1GCWGAFPXJ1337903,rwd,full-size,van,white,al
215,7316482063,birmingham,4000,2002.0,toyota,echo,excellent,4 cylinders,gas,155000.0,clean,automatic,JTDBT123520243495,fwd,compact,sedan,blue,al
219,7316429417,birmingham,2500,1995.0,bmw,525i,fair,6 cylinders,gas,110661.0,clean,automatic,WBAHD6322SGK86772,rwd,mid-size,sedan,white,al
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426788,7303227528,wyoming,12995,2016.0,chevrolet,cruze lt,like new,4 cylinders,gas,61127.0,clean,automatic,1G1BE5SM0G7266569,fwd,compact,sedan,silver,wy
426792,7303114896,wyoming,32999,2014.0,ford,"f350, xlt",excellent,8 cylinders,diesel,154642.0,clean,automatic,1FT8W3DT3EEB41548,4wd,full-size,pickup,brown,wy
426793,7303112347,wyoming,15999,2018.0,chevrolet,"cruze, lt",excellent,4 cylinders,gas,36465.0,clean,automatic,1G1BE5SM7J7133704,fwd,mid-size,sedan,black,wy
426833,7302338378,wyoming,6800,1997.0,jaguar,xk8 convertible,good,8 cylinders,gas,69550.0,clean,automatic,SAJGX2749VCOO8376,rwd,compact,convertible,white,wy
426836,7302301268,wyoming,0,2018.0,ram,2500,excellent,6 cylinders,diesel,20492.0,clean,automatic,3C6UR5HL3JG307217,4wd,full-size,truck,white,wy

#### Data Quality Assessment

In [5]:

print(df.duplicated().sum())  # Count of duplicate rows
df_notnull['manufacturer'].value_counts()  # Count of unique values in a column
df_notnull['manufacturer'].unique()  # List of unique values in a column
print(df_notnull['model'].value_counts())  # Count of unique values in a column
#calculate the unique values for each model for each manufacturer
df_notnull.groupby(['manufacturer','model'])['model'].nunique()
df_notnull['region'].value_counts()  # Count of unique values in a column

0
model
f-150                        943
silverado 1500               929
1500                         482
2500                         332
sierra 1500                  330
                            ...
5 sport                        1
titan king cab                 1
4runner sport edition 4wd      1
mustang cobra                  1
cruze, 2lt                     1
Name: count, Length: 5139, dtype: int64

### Data Preparation

After our initial exploration and fine tuning of the business understanding, it is time to construct our final dataset prior to modeling.  Here, we want to make sure to handle any integrity issues and cleaning, the engineering of new features, any transformations that we believe should happen (scaling, logarithms, normalization, etc.), and general preparation for modeling with `sklearn`.

In [6]:
#Drop irrelevant columns
df_notnull.drop(['region','id','VIN'], axis=1, inplace=True)  # Drop columns

#cleanup condition column
df_notnull['condition'].value_counts()
#update the condition column to make 'new' to look like 'like new'
df_notnull['condition'].replace('new', 'like new', inplace=True)

#cleanup cylinders column
df_notnull['cylinders'].value_counts()
df_notnull=df_notnull[df_notnull['cylinders']!='other']
#remove the word 'cylinders' in the values of cylinders column
df_notnull['cylinders'].replace('cylinders', '', regex=True, inplace=True)
df_notnull['cylinders'] = df_notnull['cylinders'].str.strip()
df_notnull['cylinders'] = df_notnull['cylinders'].astype(int)

#cleanup fuel column
df_notnull['fuel'].value_counts()
df_notnull=df_notnull[df_notnull['fuel']!='other']

#cleanup title_status column
df_notnull['title_status'].value_counts()
#There are only two rows with 'parts only' in the title_status column, so remove them
df_notnull=df_notnull[df_notnull['title_status']!='parts only']

/var/folders/6k/k6tm2t257jd_sdbv6xthypcw0000gn/T/ipykernel_34279/1516351789.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_notnull.drop(['region','id','VIN'], axis=1, inplace=True)  # Drop columns
/var/folders/6k/k6tm2t257jd_sdbv6xthypcw0000gn/T/ipykernel_34279/1516351789.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_notnull['condition'].replace('new', 'like new', inplace=True)
/var/folders/6k/k6tm2t257jd_sdbv6xthypcw0000gn/T/ipykernel_34279/1516351789.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_notnull['cylinders'].replace('cylinders', '', regex=True, inplace=True)
/var/folders/6k/k6tm2t257jd_sdbv6xthypcw0000gn/T/ipykernel_34279/1516351789.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_notnull['cylinders'] = df_notnull['cylinders'].str.strip()
/var/folders/6k/k6tm2t257jd_sdbv6xthypcw0000gn/T/ipykernel_34279/1516351789.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_notnull['cylinders'] = df_notnull['cylinders'].astype(int)

In [7]:
#cleanup transmission column
#df_notnull['transmission'].value_counts()

#df_notnull['drive'].value_counts()

#df_notnull['size'].value_counts()

#There are only two rows with 'parts only' in the title_status column, so remove them
df_notnull=df_notnull[df_notnull['title_status']!='parts only']

In [41]:
df_notnull['type'].value_counts()

#df_notnull=df_notnull[df_notnull['type']!='other']
df_notnull=df_notnull[df_notnull['type']!='offroad']
df_notnull=df_notnull[df_notnull['type']!='bus']

#truck and pickup are the same, so update the type column to have only one value
df_notnull['type'].replace('pickup', 'truck', inplace=True)

#df_notnull[(df_notnull['type']=='van') | (df_notnull['type']=='mini-van')]
df_notnull['type'].replace('wagon', 'hatchback', inplace=True)

In [8]:
#cleanup paint_color column
#df_notnull['paint_color'].value_counts()
#df_notnull['state'].value_counts()
df_notnull=df_notnull[df_notnull['price']!=0]
df_notnull['year']=df_notnull['year'].astype(int)
df_notnull['odometer']=df_notnull['odometer'].astype(int)
df_notnull.sample(10)

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state
217149,9900,2019,nissan,sentra sv,like new,4,gas,25054,salvage,automatic,fwd,mid-size,sedan,blue,mn
170487,29900,2019,ford,f-150,like new,8,gas,23004,clean,automatic,rwd,full-size,truck,white,ky
81315,20000,2015,toyota,pilot exl,excellent,6,gas,75000,lien,automatic,fwd,mid-size,SUV,red,co
420023,6900,2011,kia,sorento,good,4,gas,165572,clean,automatic,4wd,full-size,SUV,black,wi
87643,2900,2004,honda,accord,good,4,gas,214000,clean,automatic,fwd,mid-size,sedan,blue,ct
307077,18200,2020,kia,forte,like new,4,gas,25743,clean,automatic,fwd,compact,sedan,white,ok
182262,33990,2012,ford,super duty f-250 srw,good,8,diesel,49678,clean,automatic,4wd,full-size,truck,white,md
251825,36990,2017,mitsubishi,fuso fe160,good,4,diesel,45925,clean,automatic,rwd,full-size,truck,white,nj
309561,8900,2008,ford,f150 supercrew lariat 4x4,good,8,gas,231575,clean,automatic,4wd,full-size,truck,white,ok
250781,4550,2008,jeep,grand cherokee laredo,good,6,gas,164992,clean,automatic,4wd,mid-size,SUV,blue,nj

In [36]:
#add an age column based on the year
df_notnull['age']=2024-df_notnull['year']
df_notnull.drop(['year'],axis=1,inplace=True)

In [32]:
df_notnull[(df_notnull['fuel']=='diesel')]['type'].value_counts()
df_notnull['fuel'].value_counts()

df_notnull['transmission'].value_counts()

#remove fuel, transmission, and drive columns
df_notnull.drop(['fuel','transmission','drive'], axis=1, inplace=True)  # Drop columns

### Modeling

With your (almost?) final dataset in hand, it is now time to build some models.  Here, you should build a number of different regression models with the price as the target.  In building your models, you should explore different parameters and be sure to cross-validate your findings.

#### Encoding the data

In [8]:
print(df_notnull['condition'].unique())
print(df_notnull['size'].unique())

['excellent' 'fair' 'good' 'like new' 'salvage']
['compact' 'mid-size' 'full-size' 'sub-compact']

In [10]:
# Ordnial encoding of condition and size
from sklearn.preprocessing import OrdinalEncoder

condition_order=['salvage', 'fair', 'good','excellent','like new' ]
size_order=['sub-compact','compact', 'mid-size', 'full-size' ]

# Initialize the OrdinalEncoder with the specified categories
ordinal_encoder = OrdinalEncoder(categories=[condition_order])
# Fit and transform the 'size' column
df_notnull['condition_encoded'] = ordinal_encoder.fit_transform(df_notnull[['condition']])
# Adjust the encoded values to start from 1 instead of 0
df_notnull['condition_encoded'] = df_notnull['condition_encoded'] + 1

# Initialize the OrdinalEncoder with the specified categories
ordinal_encoder = OrdinalEncoder(categories=[size_order])
# Fit and transform the 'size' column
df_notnull['size_encoded'] = ordinal_encoder.fit_transform(df_notnull[['size']])
# Adjust the encoded values to start from 1 instead of 0
df_notnull['size_encoded'] = df_notnull['size_encoded'] + 1

In [42]:
#one hot encoding of fuel, title_status, transmission, drive, type, paint color
df_encoded = pd.get_dummies(df_notnull, columns=['title_status', 'type', 'paint_color'])

In [43]:
#df_notnull.sample(10)
df_encoded.drop(['condition','size'],axis=1, inplace=True)
df_encoded.drop(['manufacturer','model','state'],axis=1, inplace=True)

In [44]:
df_encoded.head(10)

,price,cylinders,odometer,age,condition_encoded,size_encoded,title_status_clean,title_status_lien,title_status_missing,title_status_rebuilt,...,paint_color_brown,paint_color_custom,paint_color_green,paint_color_grey,paint_color_orange,paint_color_purple,paint_color_red,paint_color_silver,paint_color_white,paint_color_yellow
215,4000,4,155000,22,4.0,2.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
219,2500,6,110661,29,2.0,3.0,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
268,9000,4,56700,16,4.0,2.0,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
337,8950,6,164000,13,4.0,4.0,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
338,4000,6,88100,52,2.0,4.0,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False
346,98900,8,20187,23,3.0,3.0,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
355,9400,6,129473,16,3.0,4.0,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False
364,7300,6,181000,17,3.0,3.0,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
365,72900,8,19129,3,3.0,4.0,True,False,False,False,...,False,False,False,True,False,False,False,False,False,False
366,28900,6,94601,7,3.0,4.0,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [45]:
#create a scatter plot of price vs fuel
df_encoded.corr()['price'].sort_values(ascending=False)

price                   1.000000
type_truck              0.451141
cylinders               0.350142
size_encoded            0.302018
paint_color_white       0.168815
condition_encoded       0.161235
paint_color_black       0.044568
type_van                0.033446
title_status_lien       0.026879
title_status_clean      0.011514
paint_color_orange      0.006531
type_convertible        0.002284
paint_color_red         0.002013
title_status_rebuilt   -0.002772
paint_color_yellow     -0.009760
title_status_missing   -0.016749
type_coupe             -0.017144
paint_color_custom     -0.017682
paint_color_purple     -0.025886
title_status_salvage   -0.037043
paint_color_brown      -0.042767
paint_color_green      -0.046995
paint_color_grey       -0.053245
type_mini-van          -0.065743
paint_color_blue       -0.071685
type_SUV               -0.077286
paint_color_silver     -0.105728
type_hatchback         -0.150951
odometer               -0.232750
type_sedan             -0.308398
age                    -0.320033
Name: price, dtype: float64

In [46]:
#create a linear regression model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Split the data into training and test sets
X = df_encoded.drop('price', axis=1)
y = df_encoded['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [47]:
# Initialize the LinearRegression model
model = LinearRegression()

# Fit the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Calculate the mean squared error of the model
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error of OLS regression:', mse)

Mean Squared Error of OLS regression: 92196538.7798794

In [48]:
#create a linear regression model using Ridge regression
from sklearn.linear_model import Ridge
ridge_model = Ridge(alpha=0.5)

# Fit the model on the training data
ridge_model.fit(X_train, y_train)

# Make predictions on the test data
y_pred_ridge = ridge_model.predict(X_test)

# Calculate the mean squared error of the model
mse_ridge = mean_squared_error(y_test, y_pred_ridge)
print('Mean Squared Error of Ridge regression:', mse_ridge)

Mean Squared Error of Ridge regression: 92195945.86712897

In [18]:
#create a linear regression model using Lasso regression
from sklearn.linear_model import Lasso
lasso_model = Lasso(alpha=0.5)

# Fit the model on the training data
lasso_model.fit(X_train, y_train)

# Make predictions on the test data
y_pred_lasso = lasso_model.predict(X_test)

# Calculate the mean squared error of the model
mse_lasso = mean_squared_error(y_test, y_pred_lasso)
print('Mean Squared Error of Lasso regression:', mse_lasso)

In [49]:
# Perform model evaluation after feature scaling

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Initialize the LinearRegression model
model = LinearRegression()

# Fit the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Calculate the mean squared error of the model
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error of OLS regression:', mse)

ridge_model = Ridge(alpha=0.5)

# Fit the model on the training data
ridge_model.fit(X_train, y_train)

# Make predictions on the test data
y_pred_ridge = ridge_model.predict(X_test)

# Calculate the mean squared error of the model
mse_ridge = mean_squared_error(y_test, y_pred_ridge)
print('Mean Squared Error of Ridge regression:', mse_ridge)

lasso_model = Lasso(alpha=0.5)

# Fit the model on the training data
lasso_model.fit(X_train, y_train)

# Make predictions on the test data
y_pred_lasso = lasso_model.predict(X_test)

# Calculate the mean squared error of the model
mse_lasso = mean_squared_error(y_test, y_pred_lasso)
print('Mean Squared Error of Lasso regression:', mse_lasso)

Mean Squared Error of OLS regression: 92197966.42370728
Mean Squared Error of Ridge regression: 92196654.29347283
Mean Squared Error of Lasso regression: 92197442.68665947

/opt/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.734e+10, tolerance: 4.502e+08
  model = cd_fast.enet_coordinate_descent(

In [50]:
coefficients = pd.DataFrame({
    'Column': X.columns,
    'Coefficient': model.coef_
})

print(coefficients.sort_values(by='Coefficient', ascending=False))

                  Column   Coefficient
16            type_truck  6.728493e+15
10              type_SUV  6.530452e+15
15            type_sedan  6.318195e+15
13        type_hatchback  3.410375e+15
17              type_van  3.255626e+15
12            type_coupe  3.013501e+15
11      type_convertible  2.278709e+15
14         type_mini-van  1.975893e+15
0              cylinders  1.715339e+03
3      condition_encoded  1.646853e+03
4           size_encoded  1.372557e+03
1               odometer -2.001488e+03
2                    age -3.765629e+03
7   title_status_missing -1.828680e+14
25    paint_color_purple -2.136136e+14
24    paint_color_orange -3.090753e+14
29    paint_color_yellow -3.683081e+14
20     paint_color_brown -6.850970e+14
6      title_status_lien -6.963483e+14
22     paint_color_green -7.229410e+14
21    paint_color_custom -7.292464e+14
9   title_status_salvage -9.291787e+14
26       paint_color_red -1.297944e+15
19      paint_color_blue -1.345926e+15
23      paint_color_grey -1.496161e+15
27    paint_color_silver -1.573133e+15
8   title_status_rebuilt -1.683971e+15
18     paint_color_black -1.763721e+15
5     title_status_clean -2.035195e+15
28     paint_color_white -2.040860e+15

In [51]:
#use sequential feature selection to select the best features
from sklearn.feature_selection import SequentialFeatureSelector as SFS

# Initialize the LinearRegression model
model = LinearRegression()

# Initialize the SFS algorithm
sfs = SFS(model, 
          n_features_to_select=10, 
          direction='forward', 
          scoring='neg_mean_squared_error',
          cv=5)

# Fit the SFS algorithm on the training data
sfs = sfs.fit(X_train, y_train)

In [52]:

# Get the selected feature indices
selected_features = list(sfs.get_support(indices=True))
print(selected_features)

# Get the selected feature names
selected_feature_names = X.columns[selected_features]
print(selected_feature_names)

# Get the performance of the selected feature subset
selected_model = LinearRegression()
selected_model.fit(X_train[:, selected_features], y_train)
y_pred = selected_model.predict(X_test[:, selected_features])
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error with selected features:', mse)

[0, 1, 2, 3, 4, 11, 12, 13, 15, 16]
Index(['cylinders', 'odometer', 'age', 'condition_encoded', 'size_encoded',
       'type_convertible', 'type_coupe', 'type_hatchback', 'type_sedan',
       'type_truck'],
      dtype='object')
Mean Squared Error with selected features: 93092607.27140622

In [53]:
from sklearn.linear_model import LassoCV

# Fit Lasso model with cross-validation
lasso = LassoCV(cv=5).fit(X_train, y_train)

# Get the coefficients
lasso_coef = pd.Series(lasso.coef_, index=X.columns)

# Print non-zero coefficients
important_features = lasso_coef[lasso_coef != 0]
print(important_features.sort_values(ascending=False))

type_truck              3961.791374
cylinders               1780.312422
condition_encoded       1604.801749
size_encoded            1299.105108
type_convertible         910.226262
type_coupe               847.102389
paint_color_black        342.403500
paint_color_white        313.997126
paint_color_orange       302.047395
title_status_lien        258.591265
type_van                 194.977994
paint_color_red          152.285479
paint_color_yellow       132.692736
title_status_rebuilt      -6.490494
paint_color_grey         -11.494925
paint_color_brown       -124.199901
title_status_salvage    -178.010321
paint_color_blue        -227.596483
paint_color_silver      -338.191552
type_mini-van           -432.427595
type_hatchback          -750.566195
type_sedan             -1648.309473
odometer               -1975.328877
age                    -3690.573809
dtype: float64

### Evaluation

With some modeling accomplished, we aim to reflect on what we identify as a high quality model and what we are able to learn from this.  We should review our business objective and explore how well we can provide meaningful insight on drivers of used car prices.  Your goal now is to distill your findings and determine whether the earlier phases need revisitation and adjustment or if you have information of value to bring back to your client.

#### My Evaluation

I used different linear regression algorithms and different methods for feature engineering and hyperparameter tuning. Based on the observation, it's difficult to predict what used car drivers are looking for in a car because our dataset has different type of cars. However, we can use these models to predict price of used cars. We can see that 'number of cylinders', 'odometer', 'age of the car', 'condition of the car', 'size','type' features influence the price more. As expected the higher the cylinder, the higher the price. Odometer and age features have negative correlation to price.

### Deployment

Now that we've settled on our models and findings, it is time to deliver the information to the client.  You should organize your work as a basic report that details your primary findings.  Keep in mind that your audience is a group of used car dealers interested in fine tuning their inventory.